{% extends 'tour/layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}
 <div class="about-container">
      <div class="row">
          <div class="col-md-12">
              <h2>More info about <em>Short</em></h2>
              <div class="under-line"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc purus ligula, ullamcorper id velit id, vestibulum auctor sapien. Sed quis mauris eget sem <em>imperdiet rhoncus hendrerit</em> sed neque.<br><br>Praesent dictum at erat <em>consectetur imperdiet</em>. Vivamus lobortis eros quis elementum egestas. Fusce sed lorem sed tellus convallis pulvinar non eget erat. Nunc sapien mauris, molestie sed interdum vel, pharetra et metus.</p>
              <img src="static/tour/img/about-image.jpg">
          </div>
      </div>
 </div>

{% endblock %}